nav {
    background-color: black;
    height: 6.2rem;
    display: flex;
    align-items: center;
    img {
        margin-left: 2.1rem;
    }
}

.nav__menu {
    display: flex;
    gap: 2rem;
    margin-right: 45rem;
    & li {
        list-style: none;
    }
    & a {
        text-decoration: none;
        color: white;
    }
}

.header__icons {
    display: flex;
    gap: 1.5rem;
    margin-left: 1.5rem;
    i {
        font-size: 1.5rem;
        color: aliceblue;
    }
}

.search-form {
    display: flex;
    height: 2.3rem;
    border-radius: 0.1rem;
    font-size: 0.7rem;
    overflow: hidden;
    &__button {
        background: #E8E8E8;
        border: none;
        margin-left: -0.1rem;
        i {
            color: black;
            font-size: 1.2rem;
        }
    }
    &__input {
        border: none;
        background: #E8E8E8;
        &::placeholder {
            color: black;
        }
    }
}