.cart-widget {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    &__counter {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: -10px;
        right: -10px;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: #ff6900;
        color: #fff;
        font-size: 0.75rem;
        font-weight: 700;
        line-height: 0;
    }
}
.cart-widget--dropdown--wrapper {
    position: absolute;
    top: calc( 89px + 1rem);
    right: 1rem;
    bottom: 0;
    pointer-events: none;
}

.cart-widget--dropdown {
    pointer-events: all;
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 1rem; 
    padding: 1rem;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 100;
    width: 350px;

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 1rem;
    }

    &__title {   
        margin-bottom: 0;
    }

    &__item {
        margin-right: 0!important;
    }
    
}