.item {
    display: flex;
    gap: 6em;
    justify-content: center;
    width: 100%;
    p {
        font-size: 0.75rem;
    }
    &__info {
        padding-top: 1.5rem;
        width: 550px;
    }
    &__info--bold {
        color: #FF6900;
        font-weight: bold;
        font-size: 0.80rem;
    }
    h2 {
        font-weight: bold;
        font-size: 0.9rem;
        line-height: 0rem;
    }
    span {
        font-weight: 600;
    }
    &__img--lower {
        padding-top: 1.5rem;
    }
}