.detail {
    margin-bottom: 3rem;
    &__title,
    &__subtitle {
        font-weight: 600;
    }

    &__img {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    
}