
.detail {
  

    &__headline {
        color: #495464;
        font-size: 2.5rem;
        font-weight: 500;
        text-transform: uppercase;
        padding-left: 2rem;
    }

    &__img {

        display: flex;
        align-items: center;
        justify-content: center;

    }

}



/* color select */

.color-select {
    display: flex;
    align-items: center;

    &__item {
        
        margin-right: 1rem;

        &:last-child { margin-right: 0; }

        input[type="radio"] {
            -webkit-appearance: none;
            appearance: none;
            background-color: #fff;
            margin: 0;

            display: grid;
            place-content: center;

            font: inherit;
            color: currentColor;
            width: 2rem;
            height: 2rem;
            border: 2px solid #fff;
            outline-style: solid;
            outline-color: white;
            outline-width: 2px;
            border-radius: 50%;
            margin: 0 auto .25rem;

            transition: outline-color .5s ease-in-out;


            &::before {
                content: "";
                width: 1.75rem;
                height: 1.75rem;
                border-radius: 50%;
                transform: scale(1);
                background: #000;
            }

            &:checked {
                outline-color: black;
            }
        }

        label {
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            font-size: .75rem;
        }
    }
}


#black {
    &::before {
        background: black;
    }
}

#silver {
    &::before {
        background-image: linear-gradient(to bottom left, rgb(121, 121, 121),rgb(224, 224, 224));
    }
}

#gold {
    &::before {
        background-image: linear-gradient(to bottom left, rgb(181, 156, 13),rgb(255, 238, 145));
    }
}




//Price and in stock

.price {
    display: flex;
    justify-content: space-between;
}

.inStock {
    width: 1.5rem;
    height: 1.5rem;
    background-color: green;
    border-radius: 2rem;
}


//amount and cart btn

.detail__price {
    font-size: 1.7rem;
}

.detail__amount {
    display: flex;
    justify-content: space-between;
}
.amount {
    display: flex;
}
.detail__input {
    width: 2rem;
    height: 2rem;
}
.detail__btn {
    background-color: #FF6900;
    border: none;
    color: white;
    padding: 1rem 14rem;
}

.line {
    height: 0.1rem;
    background-color: #c6c6c6;
    margin: 0 3rem;
}