.faq {
    padding-left: 3rem;
}
.faq__article {
    background-color: white;
    box-shadow: 0.3rem 0.3rem 0.2rem #BBBFCA;
    padding: 1rem 3rem;
}
.grey_big {
    color: #495464;
    font-size: 3rem;
    font-weight: 500;
}
.bold {
    text-transform: uppercase;
}
.big__text {
    font-size: 1.5rem;
}
.zero--margin {
    margin: 0;
}