.blackbox {
    background-color: black;
    color: white;
    padding: 6rem 0 3rem;
}

.opening-hours {
    max-width: 400px;
    float: right;
}

.hero-video {
    height: calc(100vh - 300px);
    position: relative; 
    overflow: hidden; 
    
    .video {
        position: absolute; 
        top: 50%; 
        left: 50%; 
        transform: translate(-50%, -45%) scale(1.1); 
        min-width: 100%;
    }

}