.cards {
    display: grid;
    grid-template-columns: repeat(4, 20rem);
    gap: 2rem;
    padding-left: 3rem;
}
.home__top {
    display: flex;
    justify-content: space-between;
    padding: 0 4rem;
}
.home__headline {
    text-transform: uppercase;
    color: #495464;
}
.home__btn {
    background-color: #ff6900;
    color: white;
    border: none;
    padding: 0rem 3rem;
    margin: 1rem 0;
}

.home__blackbox {
    background-color: black;
    color: white;
}