.orders {
    margin-top: 2rem;
    box-shadow: 3px 3px 3px rgba($color: #000000, $alpha: .25);

}
.orders__btns {
    display: flex;
    justify-content: space-evenly;
}
.orders__btn--orders {
    background-color: #495464;
    color: white;
    width: 39rem;
    height: 4rem;
    font-size: 2rem;
}
.orders__btn--profile {
    background-color: #E8E8E8;
    width: 39rem;
    height: 4rem;
    font-size: 2rem;
}
.orders__information {
    height: 50rem;
    background-color: white;
    padding: 1rem;
}