.addtocart {

    margin-top: 2rem;

    .amount,
    .price {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__stock {
        display: flex;
        align-items: center;
        font-size: .875rem;
        .inStock {
            width: 1rem;
            height: 1rem;
            background-color: green;
            border-radius: 50%;
            display: inline-block;
            margin-left: .5rem;
        }
    }
    
    &__price {
        display: flex;
        align-items: center;
        font-weight: 700;
        font-size: 1.7rem;
    }

}


/* color select */

.form .color-select {
    display: flex;
    align-items: center;

    &__item {
        
        margin-right: 1rem;

        &:last-child { margin-right: 0; }

        input[type="radio"] {
            -webkit-appearance: none;
            appearance: none;
            background-color: #fff;
            margin: 0;

            display: grid;
            place-content: center;

            font: inherit;
            color: currentColor;
            width: 2rem;
            height: 2rem;
            border: 2px solid #fff;
            outline-style: solid;
            outline-color: white;
            outline-width: 2px;
            border-radius: 50%;
            margin: 0 auto .5rem;

            transition: outline-color .5s ease-in-out;
            cursor: pointer;


            &::before {
                content: "";
                width: 1.75rem;
                height: 1.75rem;
                border-radius: 50%;
                background: #000;
            }

            &:checked {
                outline-color: black;
            }
        }

        label {
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            font-size: .75rem;
            cursor: pointer;
            margin: 0 ;
            line-height: 1;
        }
    }
}


.color-select #black {
    &::before {
        background: black;
    }
}

.color-select #silver {
    &::before {
        background-image: linear-gradient(to bottom left, rgb(121, 121, 121),rgb(224, 224, 224));
    }
}

.color-select #gold {
    &::before {
        background-image: linear-gradient(to bottom left, rgb(181, 156, 13),rgb(255, 238, 145));
    }
}


/* add to cart */

.cart-add {
    display: flex;


    &__item {
        flex-grow: 1;

        &:last-child {
            flex-grow: 2;
        }
    }

    &__btn {
        width: 100%;
    }
    
}

/* add to cart - amount */


.cart-amount {
    display: flex;

    &__input {
       
        background: #eee;
        border: none;
        height: 40px;
        width: 40px;
        text-align: center;
        border-radius: 3px;
        appearance: textfield;
        -moz-appearance: textfield;
    
        &::-webkit-inner-spin-button,
        &::-webkit-outer-spin-button {
            -webkit-appearance: none;
            appearance: none;
            margin: 0;
        }
    
        &:focus-visible {
            border: none;
            outline: none;
        }
    }

    &__btn {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
        width: 40px;
        font-size: 2rem;
        line-height: 0;
    }

}
