.card {
    padding: 1rem;
    background-color: white;
    box-shadow: 0px 2px 5px rgba($color: #000000, $alpha: .1);
    text-align: center;
    height: 100%; 

    &__img {
        
        height: 150px;
        margin-bottom: 1rem;
        overflow: hidden;

        span,
        a {
            display: block;
            height: 100%;
        }

        span {
            display: flex !important;
            justify-content: center;
            align-items: center;
        }
        
        img {
            max-height: 100%;
            max-width: 80%;
        }
    }

    &__title {
        font-weight: 600;
        font-size: .875rem;
        margin-bottom: 2rem;
    }

    &__price {
        font-weight: 700;
        font-size: 1.25rem;
        margin-bottom: 2rem;
    }

    &__submit {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__compare {
        display: flex;
        justify-content: flex-end;
        font-size: .875rem;
        margin-bottom: 1rem;

        .icon-compare,
        .icon-close {
            margin-left: .35rem;
            font-size: 1rem;
            animation: fadein .25s ease-in-out;
        }

        icon-compare {
            transform: rotate(-90deg) translateX(1px);
        }

    }

    &__compare-btn {
        display: flex;
        align-items: center;
        color: #777;
        font-size: .75rem;
        transition: color .25s ease-in-out;

        &:hover {
            color: #ff6900;
        }
    }

    &__compare-btn--active {
        .icon-close {
            color: #ff6900;
        }
        
    }
}


@keyframes fadein {
    0% {
        opacity: 0;
        transform: scale(.9);
    }
    100% {
        opacity: 1;
        transform: scale(1); 
    }
}
    
