.center {
    text-align: center;
}
.card {
    height: 25rem;
    background-color: white;
    margin: 1rem;
    box-shadow: 0.3rem 0.3rem 0.2rem #BBBFCA;
}
.card img {
    padding-top: 3rem;
    width: 18rem;
    height: 6rem;
}
.card__link {
    text-decoration: none;
    color: black;
}
.card__btn {
    background-color: #ff6900;
    color: white;
    border: none;
    padding: 1rem 3rem;
}