.main-menu .dropdown-menu {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    box-shadow: 0 5px 10px rgb(0 0 0 / 10%);
    padding: 2rem;

    &__wrapper {
        position: absolute;
        top: 80px;
        bottom: 0;
        z-index: 1;
    }

    &__header {
        color: black;
        font-size: 1.5rem;
        list-style: none;
        font-weight: bold;
    }

    &__item {
        list-style: none;
        margin-top: .75rem;
        button {
            color: #A39161;
            font-size: 1.25rem;
            font-weight: 400;
        }
    }
}